<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<th:block th:fragment="head(title)">
    <title th:text="${title}"></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/select2/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/flatpickr/flatpickr.min.css">
    <script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/assets/js/jQuery/jquery-3.6.0.min.js"></script>
    <script src="/assets/js/select2/select2.min.js"></script>
    <script src="/assets/js/flatpickr/flatpickr.js"></script>
    <script src="/assets/js/phoneNumberMask/phoneNumberMask.js"></script>
</th:block>
</html>